.chat{
    display: flex;
    flex-direction: column;
    flex: .65;
}

.chat__header{
    display: flex;
    padding: 20px;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.chat__headerInfo{
    flex: 1;
    padding-left: 20px;
}

.chat__headerInfo > h3{
    margin-bottom: 3px;
    font-weight: 500;
}

.chat__headerInfo > p{
    color: gray;
}

.chat__body{
    flex:1;
    background-image: url("https://user-images.githubusercontent.com/15075759/28719144-86dc0f70-73b1-11e7-911d-60d70fcded21.png");
    background-repeat: repeat;
    background-position: center;
    padding: 20px;
    overflow: scroll;
}

.chat__body::-webkit-scrollbar{
    display: none;
}

.chat__message{
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 16px;
    padding: 14px;
    /* width: 50%; */
    /* height: 20px; */
    width: fit-content;
    max-width: 80%;
    border-radius: 10px;
    border-top-left-radius: 0;
    background-color: #ffffff;
    margin-bottom: 30px;
}

.chat__receiver{
   margin-left: auto; 
   background-color: #dcf8c6;
}

.chat__timestamp{
    position: absolute;
    bottom: 2px;
    right: 2px;
    /* margin-left: 10px; */
    font-size: xx-small;
}

.chat__name{
    position: absolute;
    top: 0px;
    font-weight: 800;
    font-size: xx-small;

}

.chat__footer{
    display: flex;
    /* padding: 0 10px; */
    justify-content: space-between;
    align-items: center;
    height: 62px;
    border-top: 1px solid lightgray;
}

.chat__footer > form{
    flex: 1;
    display: flex;
}
.chat__footer > form > input{
    flex: 1;
    border-radius: 30px;
    padding: 10px;
    border: none;
    outline: none;
}

.chat__footer > form > button{
    display: none;
}

.chat__footer > .MuiSvgIcon-root{
    padding: 10px;
    color: gray;
}