.sidebar{
    display: flex;
    flex-direction: column;
    flex: 0.35;
    /* width: 1px; */
    /* opacity: 0; */
    transition: all .25s ease;
}

.sidebar__header{
    display:flex;
    justify-content: space-between;
    padding: 20px;
    border-right: 1px solid lightgray;
}

.sidebar__headerRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar__headerRight > .MuiSvgIcon-root{
    margin-right: 2vw;
    font-size: 24px !important;
}

.sidebar__search{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height: 39px;
    padding: 10px;

}

.sidebar__searchContainer{
    display: flex;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 35px;
    border-radius: 20px;
}

.sidebar__searchContainer > .MuiSvgIcon-root{
    color:gray;
    padding :10px;
}
.sidebar__searchContainer > input{
    border: none;
    margin-left: 10px;
    outline:  none;
}

.sidebar__chats{
    flex: 1;
    background-color: white;
    overflow: scroll;
}

.sidebar__chats::-webkit-scrollbar{
    display: none;
}
.sidebarChat__info_search > h2{
    font-size: 16px;
}

.sidebarChat__info_search{
    margin-left: 15px;
}
.sidebarChatSearch{
    display: flex;
    align-items: center;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
}

.header_search_new{
    /* position: absolute; */
    /* width: 0; */
    display: none;
}

.sidebarChat_skeleton{
    display: flex;
    padding: 20px;
    cursor: pointer;
    border-bottom: 1px solid #f6f6f6;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.sidebarChat__info_skeleton{
    width: 100%;
    padding-left: 20px;
}